@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


body {

  margin: 0;
  padding: 0;

  background: #000;

  color: white;

  overflow-x: hidden;

  font-family:
  Inter,
  system-ui,
  sans-serif;

}


section {

  scroll-margin-top: 90px;

}


img {

  user-select: none;

}


::selection {

  background: #00E5FF;

  color: black;

}